@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  //   font-family: 'DM Sans', sans-serif;
  font-family: 'Titan One', cursive;
  background-color: #ffffff;
}
/* Рука-указатель */
button {
  cursor: pointer;
}